.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    color: #363636;
    background-color: #f8f9ff;
}
.searchBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.searchBlock button {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    width: 70px;
    height: 30px;
    font-size: 20px;
    color: #363636;
    background-color: #eaffe4;
    border-radius: 5px;
    border: 1px solid #1b5500;
    box-shadow: 0 2px 10px rgba(0,0,0,0.25), 0 1px 1px rgba(0,0,0,0.22);
}
.usersBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.not_found {
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 500;
    color: #fd5454;
}